@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url('/static/images/golfer.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}

main {
  flex-grow: 1;
}

/* .footer {
  background-color: rgba(0, 38, 238, 0);
  width: 100vw;
  padding: 10px;
}

.socials {
  font-size: 2rem;
} */

.footer {
  background-color: rgba(0, 38, 238, 0);
  width: 100vw;
  padding: 10px;
}

.footer .row {
  display: flex;
  justify-content: center;
}

.socials {
  font-size: 2rem;
  margin: 0 50px; /* Adjust the value as needed for desired spacing */
}

/* body {
  overflow-x: hidden;
} */
/* Navbar */
.logo {
  height: 110px;
  width: 160px;
}

.nav-link {
  font-size: 1.5rem;
}

.dropdown-item {
  font-size: 1.5rem;
}


/* Background */
.background-image {
  min-height: 50vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  z-index: -99;
}

/* Home Page */
.home-content {
  min-height: 50vh;
}

.book-a-tee-time {
  border: 3px solid white;
  padding: 20px;
  background-color: rgba(0, 38, 238, 0.5);
  width: 33vw;
  font-size: 2rem;
}

.book-a-tee-time:hover {
  text-decoration: none;
}

/* About Page */
.about-container {
  border: 3px solid white;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  width: 66vw;
  margin: auto;
  background-color: rgba(0, 38, 238, 0.5);
  z-index: 1050;
}

/* Create Account Page */
.form-container {
  padding: 10px;
  border: solid 2px white;
  background-color: rgba(0, 38, 238, 0.5);
  z-index: 1050;
  position: relative;
}

/* Login Page */
.login-content {
  height: 100vh;
}

.hvr-underline-reveal:hover:before {
  background-color: rgba(0, 38, 238, 0.6);
}

.custom-alert {
  position: absolute;
  background-color: white;
  color: red;
  z-index: 1050;
  left: 50%;
  transform: translateX(-50%);
}

.register {
  margin: 50px;
}
