{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<div
  class="home-content d-flex flex-column justify-content-center align-items-center text-light"
>
  <div class="form-container">
    <h1 class="text-center">Cancel Booking?</h1>
    <br />
    <p>Are you sure you would like to cancel your booking?</p>
    <form method="post">
      {% csrf_token %} {{ form|crispy }}
      <br />
      <div class="d-flex justify-content-center">
        <button type="submit">Cancel Tee Time</button>
      </div>
      <!-- <button type="submit" class="d-flex justify-content-center align-items-center">No</button> -->
    </form>
  </div>
</div>

{% endblock %}
