{% extends "base.html" %} {% block content %}

<div
  class="d-flex justify-content-center align-items-center text-light"
>
  <div class="form-container text-center">
    <h1>Our Mission</h1>
    <p>
      “Here at <strong>Tee Time Titans</strong> we aim to provide an exceptional
      golfing experience by offering a booking service for our renowned and
      pristine golf course. We promote the love of the game for players of all
      skill levels.”
    </p>
    <h1>Membership</h1>
    <p>
      To become a <strong>Titan</strong> please register an account and make a
      booking!
    </p>
    <h1>Facilities</h1>
    <p>
      At <strong>Tee Time Titans</strong>, we offer premier golfing facilities designed to cater
      to all your needs. Our 18-hole championship course is meticulously
      maintained, providing a challenging yet enjoyable environment for all
      golfers.
    </p>
  </div>
</div>

{% endblock %}
