{% extends "base.html" %} {% block content %}

<div class="about-container d-flex justify-content-center align-items-center text-light">
  <div class="about-content">
    <h1>Our Mission</h1>
    <p>
      “To provide an exceptional golfing experience by offering a booking system
      for renowned and pristine courses. We promote the love of the game for
      players of all skill levels.”
    </p>
    <h1>Membership</h1>
    <p>To avail of our services please create an account and make a booking!</p>
  </div>
</div>

{% endblock %}
