{% extends "base.html" %} {% block content %}

<div
  class="home-content d-flex flex-column justify-content-center align-items-center text-light"
>
  <div class="form-container">
    <h1 class="text-center">Booking Successful!</h1>
    <h5 class="card-title text-center">Thank you for your booking</h5>
    <p class="card-text text-center">Please take note of your booking details below:</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Date: {{ booking.date }}</li>
      <li class="list-group-item">Time: {{ booking.time }}</li>
      <li class="list-group-item">
        Number of Players: {{ booking.number_of_players }}
      </li>
    </ul>
    <div class="text-center">
      <a href="{% url 'home' %}" class="btn btn-primary mt-3">Home</a>
      <a href="{% url 'create_booking' %}" class="btn btn-danger mt-3">Another Booking</a>
    </div>
  </div>
</div>

{% endblock %}
