{% extends "base.html" %} {% block content %}
<div
  class="login-content d-flex flex-column justify-content-center align-items-center text-light"
>
  <div class="login-container">
    <div class="text-center">
      <h1>My Bookings</h1>
    </div>
    <br />
    <ul class="list-group">
      {% for booking in bookings %}
      <li class="list-group-item">
        <strong>Date:</strong> {{ booking.date }}<br />
        <strong>Time:</strong> {{ booking.time }}<br />
        <strong>Players:</strong> {{ booking.number_of_players }}
        <a
          href="{% url 'edit_booking' booking.pk %}"
          class="btn btn-primary mt-2"
          >Edit</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
