{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<div
  class="d-flex flex-column justify-content-center align-items-center text-light"
>
  <div class="form-container">
    <div class="text-center">
      <h1>Edit Booking</h1>
    </div>
    <br />
    <form method="post">
      {% csrf_token %} {{ form.media }} {{ form|crispy }}
      <div class="text-center">
        <button type="submit" class="btn btn-primary hvr-grow-shadow">Save Changes</button>
        <a href="{% url 'my_bookings' %}" class="btn btn-danger hvr-grow-shadow">Back</a>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $(".datepicker").datepicker({
      format: "yyyy-mm-dd",
      autoclose: true,
      todayHighlight: true,
    });
    $(".timepicker").timepicker({
      timeFormat: "HH:mm",
      interval: 10,
      minTime: "06:00",
      maxTime: "20:00",
      defaultTime: "now",
      startTime: "06:00",
      dynamic: false,
      dropdown: true,
      scrollbar: true,
    });
  });
</script>
{% endblock %}
