{% extends "base.html" %} {% block content %}

<div
  class="login-content d-flex flex-column justify-content-center align-items-center text-light"
>
  {% if user.is_authenticated %}
  <div class="text-center">
    <a
      href="{% url 'create_booking' %}"
      class="book-a-tee-time hvr-grow-shadow text-light"
      >Book a Tee Time!</a
    >
  </div>
  {% else %}
  <div class="form-container text-center">
    <h1>Welcome to <strong>Tee Time Titans!</strong></h1>
    <h4>Become a <strong>Titan</strong> and book a Tee Time with us</h4>
  </div>
  {% endif %}
</div>

{% endblock %}
