{% extends "base.html" %} {% block content %}

<div
  class="home-content d-flex flex-column justify-content-center align-items-center text-light"
>
  <div class="form-container">
    <h1 class="text-center">Register Account</h1>
    <br />
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <div class="text-center">
        <button class="btn btn-primary hvr-grow-shadow" type="submit">Register</button>
        <a href="{% url 'home' %}" class="btn btn-danger hvr-grow-shadow">Back</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
